<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Portfolio</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list style="min-width: 200px;">
        <a mat-list-item *ngIf="user == null" (click)="login()"> Login </a>
        <a mat-list-item *ngIf="user != null" (click)="logout()"> Logout </a>
        <a mat-list-item [routerLink]="['/home']"> Portfolio </a>
        <a mat-list-item [routerLink]="['/work']"> Treballs </a>
        <a mat-list-item [routerLink]="['/managework']" *ngIf="user != null"> Private </a>
        <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Tanca</a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 93.4vh;">  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>