<div class="container text-center">
    <mat-card class="m-3">
        <mat-card-header class="justify-content-center">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h1>Sergi Pujol</h1></mat-card-title>
          <mat-card-subtitle>Junior Software Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row container text-center">
                <div  class="col-6">
                    <mat-card>
                        <mat-card-header class="justify-content-center">
                            <mat-card-title>Estudis</mat-card-title>
                            <mat-card-subtitle><mat-icon color="primary">school</mat-icon></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-list>
                                <mat-divider></mat-divider>
                                <div mat-subheader class="justify-content-center">Sistemes Microinformàtics i Xarxes (SMX) <mat-icon mat-list-icon color="primary">storage</mat-icon></div>
                                <mat-list-item>
                                    <div mat-line>Institut: Caparrella</div>
                                    <div mat-line>Duració: 2 anys</div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <div mat-subheader class="justify-content-center">Desenvolupament d'Aplicacions Multiplataforma (DAM) <mat-icon mat-list-icon color="primary">android</mat-icon></div>
                                <mat-list-item>
                                    <div mat-line>Institut: Caparrella</div>
                                    <div mat-line>Duració: 2 anys</div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <div mat-subheader class="justify-content-center">Desenvolupament d'Aplicacions Web (DAW) <mat-icon mat-list-icon color="primary">code</mat-icon></div>
                                <mat-list-item>
                                    <div mat-line>Institut: Caparrella</div>
                                    <div mat-line>Duració: 2 anys</div>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="mt-2">
                        <mat-card-header class="justify-content-center">
                            <mat-card-title>Llenguatges</mat-card-title>
                            <mat-card-subtitle><mat-icon color="primary">code</mat-icon></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-list>
                                <mat-list-item>
                                    Java
                                </mat-list-item>
                                <mat-list-item>
                                    .NET
                                </mat-list-item>
                                <mat-list-item>
                                    Angular
                                </mat-list-item>
                                <mat-list-item>
                                    node.js
                                </mat-list-item>
                                <mat-list-item>
                                    PHP
                                </mat-list-item>
                                <mat-list-item>
                                    SQL
                                </mat-list-item>
                                <mat-list-item>
                                    Javascript
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div  class="col-6">
                    <mat-card>
                        <mat-card-header class="justify-content-center">
                            <mat-card-title>Expreriència laboral</mat-card-title>
                            <mat-card-subtitle><mat-icon color="primary">work</mat-icon></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-list>
                                <mat-divider></mat-divider>
                                <div mat-subheader class="justify-content-center">Tècnic informàtic <mat-icon mat-list-icon color="primary">desktop_windows</mat-icon></div>
                                <mat-list-item>
                                    <div mat-line><mat-icon color="primary">place</mat-icon> Institut Escola del Treball</div>
                                    <div mat-line>350h (FCT)</div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <div mat-subheader class="justify-content-center">Manteniment applicació web <mat-icon mat-list-icon color="primary">code</mat-icon></div>
                                <mat-list-item>
                                    <div mat-line><mat-icon color="primary">place</mat-icon> INDRA</div>
                                    <div mat-line>350h (FCT)</div>
                                    <div mat-line>Angular, Java (Springboot)</div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <div mat-subheader class="justify-content-center">Manteniment aplicació web <mat-icon mat-list-icon color="primary">code</mat-icon></div>
                                <mat-list-item>
                                    <div mat-line><mat-icon color="primary">place</mat-icon> Becquel</div>
                                    <div mat-line>350h (FCT)</div>
                                    <div mat-line>Angular, node.js(sailsjs)</div>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="mt-2">
                        <mat-card-header class="justify-content-center">
                            <mat-card-title>Idiomes</mat-card-title>
                            <mat-card-subtitle><mat-icon color="primary">translate</mat-icon></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-list>
                                <mat-list-item>
                                    Català: Natiu
                                </mat-list-item>
                                <mat-list-item>
                                    Castellà: Nivell Alt
                                </mat-list-item>
                                <mat-list-item>
                                    Anglès: Nivell Mitjà
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
</div>
